#ifndef SECRETS_H
#define SECRETS_H

// WiFi Credentials
#define WIFI_SSID "YOUR_SSID"
#define WIFI_PASS "YOUR_PASSWORD"

// MQTT Credentials
#define MQTT_USER "your_mqtt_user"
#define MQTT_PASS "your_mqtt_pass"

// MQTT Command Key (Shared secret for MQTT commands)
#define MQTT_CMD_KEY "your_secret_key"

// Web & OTA
#define WEB_USER "admin"
#define WEB_PASS "biotech"
#define OTA_PASS "biotech"

#endif
